/* Affects all elements, adjusts their size, color, and resets padding and margin values */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:#ffffff;
}
/* Changes the background color of the page */
body {
    background-color: #d9dcd6;
}
/* 
Gives the header it's own unique styling by setting the font-family, background color, and color of the text
also sets the padding between the text displayed and the outside of the page.
 */
header {
    padding: 20px;
    background-color: #2a607c;
}

/*
Changes the h1 display type to inline block so that it doesn't take up the width of the page.
Changes the font size to 48px resulting in bigger text.
*/
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 48px;
}
/* 
Changes the color of seo in the h1 element, Horiseon.
*/
.seo {
    color: #d9dcd6;
}
/* 
Targets the section inside of the header element.
Gives it a padding and margin. Makes it float right so that it can be inline with the h1.
*/
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes the bullet style from the list elements */
ul {
    list-style-type: none;
}
/* Targets all list elements to display inline and creats a margin to the left to create space inbetween */
li {
    display: inline-block;
    margin-left: 25px;
}
/* 
Targets all link elemnts.
removes the default underline from the link.
 */
a {
    text-decoration: none;
}

/*
Targets all paragraph elemnts and changes the text size to 16px.
*/
p {
    font-size: 16px;
}

/*
    Creates and fills the hero class section with an image that fills the top of the page.
*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*
Gives an html element with this class a left float value and margin to the right of 25 px.
*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*
Gives an html element with this class a right float value and margin to the left of 25 px.
*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*
Targets the main section on the page with the 3 card elements and sets the width so it doesn't fill the 
page. Sets display to inline block so that the benefits container can be next to it.
*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*
Gives each card margin, padding,height, font-family, color, and background color attributes so they are
consistent across the board. the padding values allows there to be spaces between each individual card
aswell as other content on the page.
*/
.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}
/*
Targets all img elements within the card class.
Sets a unifrom height of 200px.
*/
.card img {
    max-height: 200px;
}
/*
Targets all h2 elements, they are only found within the card class.
*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*
Targets the benefits class which holds all of the benefit class sections.
Gives the benefits class a margin to the right to separate it from the content class elements.
The clear both indicates there won't be float elements on both sides.
Float right sets the panel to the right of the content class section.
Sets the width and height of the panel.
Also sets the font family and background color.
*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*
Sets the margin of each benefit class section to 32px to leave space between them.
*/
.benefit {
    margin-bottom: 32px;
}
/*
Targets all h3 elements.
They are only found in the benefits section.
Gives them a margin of 10px from the image bellow.
Center aligns the text.
*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*
Targets the img element within the benefit class section.
Gives the img a display block property.
Adjusts the margins and gives it a maximum width value.
*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*
The footer element is given a padding, font family, and text align center value.
It is cleared from having elements to the right and left of it
*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*
Targets all h4 elements
H4 elements are only in the footer
gives it a font size of 20px and color of black
*/
h4 {
    font-size: 20px;
    color: black;
}
/*
Sets the color of all p elements within the footer to black
*/
footer p{
    color:black;
}